tmp
backup
public

### CONF ###
.env
*.eslintcache
*.local
*.dev
*.stg
*.prod
*.toml

### LOG ###
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

### DEPLOY ###
*.tar
*.exe
*.blob

### STS ###
Makefile
node_modules
dev-dist
dist
dist-ssr
build
__tests__
__snapshots__
__inspect
.inspect

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

### VS Code ###
.qodo
.vscode